.movieDetail {
   padding: 20px;
   color: white;
 }
 
 .movieDetail__poster {
   width: 300px;
   border-radius: 10px;
   margin-bottom: 20px;
 }
 
 h1 {
   font-size: 2rem;
 }
 
 p {
   margin-top: 10px;
   font-size: 1.2rem;
   line-height: 1.5;
 }
 